/* 
 * Fichier CSS personnalisé pour CampusFlow
 * Ce fichier peut être utilisé pour ajouter des styles personnalisés
 * qui ne sont pas disponibles dans Tailwind CSS
 */

/* Exemple de styles personnalisés */

/* Animation personnalisée pour les blobs (utilisée dans login.html.twig) */
@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    33% {
        transform: translate(30px, -50px) scale(1.1);
    }
    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

/* Ajoutez vos styles personnalisés ci-dessous */

